<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Alex Corrado</string>
	<key>Builder Version</key>
	<string>12602.4.8</string>
	<key>CFBundleDisplayName</key>
	<string>Boycott United</string>
	<key>CFBundleIdentifier</key>
	<string>mobi.chkn.boycottunited</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>content.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Removes United flight results from popular travel search engines.</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>www.priceline.com</string>
				<string>www.cheapoair.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.githubusercontent.com/chkn/BoycottUnited/master/Safari/Updates.plist</string>
	<key>Website</key>
	<string>https://github.com/chkn/BoycottUnited</string>
</dict>
</plist>
